<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pherth.chakt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="net.pherth.chakt.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.pherth.chakt.LoginActivity_"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity android:name="net.pherth.chakt.MainActivity_"
        android:label="">
        </activity>
        <activity
            android:name="net.pherth.chakt.SingleMovieActivity_"
            android:label="@string/title_activity_single_movie"
            android:parentActivityName="net.pherth.chakt.MainActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"  >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pherth.chakt.MainActivity_" />
        </activity>
        <activity
            android:name="net.pherth.chakt.SingleShowActivity_"
            android:label="@string/title_activity_single_show"
            android:parentActivityName="net.pherth.chakt.MainActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"  >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pherth.chakt.MainActivity_" />
        </activity>
        <activity android:name="net.pherth.chakt.SingleEpisodeActivity_"
        android:label="@string/title_activity_single_episode">
        </activity>
    </application>

</manifest>